body{
    background-color: rgb(75, 75, 139)

}
p{
    font-family: "Courier New", Courier, monospace;
    float: left;
    width: 50%;
    font-size: large;
}
h1{
    font-size: xx-large;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    color: whitesmoke;
    padding-bottom: 2cm;
}
img{
    float: left;
}






'use strict';

//create an app that will take a user name, respond if the username is correctly formatted or not, and respond if the username is a specific user form a list of specific username.

var username = prompt('Hello! what is your name?');

//string concatentation
console.log('username'+username+'welcome to the app!');

//template literals
console.log(`username is: ${username} welcome to the app, using string literals`)